<div class="carousel-item" style="background-image: url({{fields.field_background_image.content}});" >
   <div class="container">
        <div class="row">
            <div class="col-md-10 banner-caption">
                <div class="main-banner style-2">
                    <span class="text-uppercase subtitle">
                        {{fields.field_subtitle.content}}
                    </span>
                    <h2 class="display-4">
                        {{fields.title.content}}
                    </h2>
                    <p class="lead">
                        {{fields.field_description.content}}
                    </p>
                    {{ fields.field_link.content}}
                </div>
            </div>
        </div> 
    </div> 
</div>