
<!-- Call to action -->
<section class="bg-cover bg-fixed bg-no-repeat" 
          style="background-image: url({{content.field_background_image.0}});">
  <div class="call-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="intro-content text-center">
            <h2>{{content.field_title.0}}</h2>
            <p class="m-0px">{{content.field_description.0}}</p>
            <div class="call-action-btn">
              <a href="{{content.field_link.0['#url']}}" class="btn">
                  {{content.field_link.0['#title']}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
<!-- End Call to action -->
